In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, time

References:
- https://www.kite.com/python/answers/how-to-select-rows-by-multiple-label-conditions-with-pandas-loc-in-python
- https://stackoverflow.com/questions/50375985/pandas-add-column-with-value-based-on-condition-based-on-other-columns

In [2]:
crashes = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv', low_memory=False)

In [3]:
persons = pd.read_csv('Motor_Vehicle_Collisions_-_Person.csv', low_memory=False)

In [4]:
vehicles = pd.read_csv('Motor_Vehicle_Collisions_-_Vehicles.csv', low_memory=False)

In [5]:
crashes.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [6]:
persons.columns

Index(['UNIQUE_ID', 'COLLISION_ID', 'CRASH_DATE', 'CRASH_TIME', 'PERSON_ID',
       'PERSON_TYPE', 'PERSON_INJURY', 'VEHICLE_ID', 'PERSON_AGE', 'EJECTION',
       'EMOTIONAL_STATUS', 'BODILY_INJURY', 'POSITION_IN_VEHICLE',
       'SAFETY_EQUIPMENT', 'PED_LOCATION', 'PED_ACTION', 'COMPLAINT',
       'PED_ROLE', 'CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2',
       'PERSON_SEX'],
      dtype='object')

In [7]:
crashes['CONTRIBUTING FACTOR VEHICLE 1'].unique()

array(['Driver Inattention/Distraction', 'Turning Improperly',
       'Following Too Closely', 'Unsafe Speed', 'Unspecified',
       'Backing Unsafely', 'Unsafe Lane Changing',
       'Traffic Control Disregarded', 'Passing Too Closely',
       'Failure to Yield Right-of-Way', nan, 'Other Vehicular',
       'Passing or Lane Usage Improper', 'Driverless/Runaway Vehicle',
       'Reaction to Uninvolved Vehicle', 'Illnes', 'Driver Inexperience',
       'Obstruction/Debris', 'Steering Failure', 'Alcohol Involvement',
       'Tire Failure/Inadequate',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'View Obstructed/Limited', 'Outside Car Distraction',
       'Pavement Slippery', 'Aggressive Driving/Road Rage',
       'Passenger Distraction', 'Oversized Vehicle',
       'Traffic Control Device Improper/Non-Working',
       'Failure to Keep Right', 'Drugs (illegal)', 'Glare', 'Fell Asleep',
       'Pavement Defective', 'Brakes Defective', 'Eating or Drinking',
       'Lost Consciousness', 'Fatigued/Drowsy', 'Accelerator Defective',
       'Vehicle Vandalism', 'Lane Marking Improper/Inadequate',
       'Cell Phone (hand-Held)', 'Animals Action',
       'Other Electronic Device', 'Prescription Medication',
       'Windshield Inadequate', 'Other Lighting Defects',
       'Using On Board Navigation Device', 'Physical Disability',
       'Tinted Windows', 'Shoulders Defective/Improper',
       'Listening/Using Headphones', 'Headlights Defective', 'Texting',
       'Tow Hitch Defective', 'Cell Phone (hands-free)', 'Illness', '80',
       'Reaction to Other Uninvolved Vehicle', 'Drugs (Illegal)', '1',
       'Cell Phone (hand-held)'], dtype=object)

In [8]:
persons['CONTRIBUTING_FACTOR_1'].value_counts()

Unspecified                                              36161
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion     8802
Driver Inattention/Distraction                            1797
Failure to Yield Right-of-Way                             1434
Traffic Control Disregarded                                865
Alcohol Involvement                                        851
Other Vehicular                                            632
View Obstructed/Limited                                    350
Cell Phone (hand-Held)                                     226
Backing Unsafely                                           155
Passing or Lane Usage Improper                             125
Passing Too Closely                                        104
Aggressive Driving/Road Rage                                95
Pavement Slippery                                           79
Passenger Distraction                                       77
Unsafe Speed                                                72
Following Too Closely                                       49
Listening/Using Headphones                                  43
Reaction to Uninvolved Vehicle                              41
Physical Disability                                         41
Outside Car Distraction                                     38
Driver Inexperience                                         37
Glare                                                       32
Obstruction/Debris                                          27
Animals Action                                              27
Drugs (illegal)                                             26
Turning Improperly                                          24
Other Electronic Device                                     20
Texting                                                     18
Driverless/Runaway Vehicle                                  16
Traffic Control Device Improper/Non-Working                 16
Pavement Defective                                          12
Failure to Keep Right                                       12
Illnes                                                      12
Fatigued/Drowsy                                             12
Fell Asleep                                                  9
Unsafe Lane Changing                                         9
Prescription Medication                                      9
Oversized Vehicle                                            8
Lost Consciousness                                           7
Lane Marking Improper/Inadequate                             7
Vehicle Vandalism                                            5
Cell Phone (hands-free)                                      4
Eating or Drinking                                           4
Brakes Defective                                             2
Steering Failure                                             1
Using On Board Navigation Device                             1
Headlights Defective                                         1
Other Lighting Defects                                       1
Tire Failure/Inadequate                                      1
Tinted Windows                                               1
Windshield Inadequate                                        1
Shoulders Defective/Improper                                 1
Name: CONTRIBUTING_FACTOR_1, dtype: int64

## Hypothesis:
#### Of all collisions occurring late in the night (between 12 am - 5 am), the majority are caused due to overspeeding.

In [9]:
def get_night_crashes(crashes):
    
    time_data = crashes['CRASH TIME']
    crashes['CRASH TIME'] = crashes['CRASH TIME'].apply(lambda x: datetime.strptime(x, "%H:%M").time())

    night_crash_data = crashes[(crashes['CRASH TIME'] < time(5, 0, 0))]

    return night_crash_data

In [10]:
night_crash_data = get_night_crashes(crashes)

In [11]:
# night_crash_data['hasUnsafeSpeed'] = np.where((night_crash_data['CONTRIBUTING FACTOR VEHICLE 1']=='Unsafe Speed' | night_crash_data['CONTRIBUTING FACTOR VEHICLE 2']=='Unsafe Speed' | night_crash_data['CONTRIBUTING FACTOR VEHICLE 3']=='Unsafe Speed' | night_crash_data['CONTRIBUTING FACTOR VEHICLE 4']=='Unsafe Speed' | night_crash_data['CONTRIBUTING FACTOR VEHICLE 5']=='Unsafe Speed'), True, False)

In [12]:
# night_crash_vehicle1 = night_crash_data[(night_crash_data['CONTRIBUTING FACTOR VEHICLE 1'].notnull() & night_crash_data['CONTRIBUTING FACTOR VEHICLE 2'].isnull() & night_crash_data['CONTRIBUTING FACTOR VEHICLE 3'].isnull() & night_crash_data['CONTRIBUTING FACTOR VEHICLE 4'].isnull() & night_crash_data['CONTRIBUTING FACTOR VEHICLE 5'].isnull())]
# night_crash_vehicle1

In [13]:
# night_crash_vehicle1['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

In [14]:
# night_crash_vehicle2 = night_crash_data[(night_crash_data['CONTRIBUTING FACTOR VEHICLE 1'].notnull() & night_crash_data['CONTRIBUTING FACTOR VEHICLE 2'].notnull() & night_crash_data['CONTRIBUTING FACTOR VEHICLE 3'].isnull() & night_crash_data['CONTRIBUTING FACTOR VEHICLE 4'].isnull() & night_crash_data['CONTRIBUTING FACTOR VEHICLE 5'].isnull())]
# night_crash_vehicle2

In [15]:
# night_crash_vehicle2['CONTRIBUTING FACTOR VEHICLE 2'].value_counts()

In [16]:
# night_crash_data

In [17]:
night_crash_data = night_crash_data.assign(hasUnsafeSpeed=False)

In [18]:
night_crash_data.loc[((night_crash_data['CONTRIBUTING FACTOR VEHICLE 1']=='Unsafe Speed') | (night_crash_data['CONTRIBUTING FACTOR VEHICLE 2']=='Unsafe Speed') | (night_crash_data['CONTRIBUTING FACTOR VEHICLE 3']=='Unsafe Speed') | (night_crash_data['CONTRIBUTING FACTOR VEHICLE 4']=='Unsafe Speed') | (night_crash_data['CONTRIBUTING FACTOR VEHICLE 5']=='Unsafe Speed')), 'hasUnsafeSpeed'] = True

In [19]:
night_crash_data

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,hasUnsafeSpeed
11,06/16/2018,00:05:00,MANHATTAN,10002,40.719970,-73.992905,"(40.71997, -73.992905)",DELANCEY STREET,CHRYSTIE STREET,NaN,...,NaN,NaN,NaN,3922402,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,False
12,06/19/2018,01:00:00,QUEENS,11377,40.758960,-73.898384,"(40.75896, -73.898384)",NaN,NaN,30-46 69 STREET,...,NaN,NaN,NaN,3926636,Sedan,Sedan,NaN,NaN,NaN,False
18,06/15/2018,00:52:00,NaN,NaN,40.780125,-73.953040,"(40.780125, -73.95304)",3 AVENUE,NaN,NaN,...,NaN,NaN,NaN,3924614,Bike,Taxi,NaN,NaN,NaN,False
25,06/04/2018,00:53:00,BROOKLYN,11238,40.673290,-73.957030,"(40.67329, -73.95703)",STERLING PLACE,FRANKLIN AVENUE,NaN,...,NaN,NaN,NaN,3915438,Sedan,Sedan,NaN,NaN,NaN,False
54,06/26/2018,01:50:00,QUEENS,11101,40.748943,-73.954110,"(40.748943, -73.95411)",NaN,NaN,5-26 45 AVENUE,...,NaN,NaN,NaN,3929104,Armored Truck,Sedan,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731715,07/01/2012,02:45:00,BROOKLYN,11226,40.643185,-73.949729,"(40.6431849, -73.9497292)",EAST 29 STREET,CLARENDON ROAD,NaN,...,NaN,NaN,NaN,135073,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,False
1731716,07/01/2012,02:30:00,BRONX,10464,40.856551,-73.791364,"(40.8565513, -73.7913635)",CITY ISLAND AVENUE,BRIDGE STREET,NaN,...,Unspecified,Unspecified,NaN,88523,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,False
1731717,07/01/2012,04:00:00,QUEENS,11372,40.747137,-73.892408,"(40.7471367, -73.8924084)",BROADWAY,73 STREET,NaN,...,NaN,NaN,NaN,279798,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,False
1731720,07/01/2012,03:30:00,BROOKLYN,11234,40.616509,-73.933919,"(40.6165086, -73.9339188)",KIMBALL STREET,QUENTIN ROAD,NaN,...,NaN,NaN,NaN,125661,PASSENGER VEHICLE,AMBULANCE,NaN,NaN,NaN,False
1731721,07/01/2012,04:50:00,MANHATTAN,10009,40.723506,-73.979281,"(40.7235061, -73.9792808)",EAST 6 STREET,AVENUE C,NaN,...,NaN,NaN,NaN,13866,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,False

In [20]:
unsafe_speed_metrics = night_crash_data['hasUnsafeSpeed'].value_counts().to_frame()

In [21]:
percentage_unsafe_speed_collisions = unsafe_speed_metrics.iloc[1]*100/night_crash_data.shape[0]

In [22]:
percentage_unsafe_speed_collisions

hasUnsafeSpeed    2.687928
Name: True, dtype: float64

In [23]:
unwanted_contributing_factors = ['1','80','Unspecified']

In [24]:
night_crash_data['isUnspecified'] = np.where((((night_crash_data['CONTRIBUTING FACTOR VEHICLE 1'].isin(unwanted_contributing_factors)) | (night_crash_data['CONTRIBUTING FACTOR VEHICLE 1'].isnull())) & ((night_crash_data['CONTRIBUTING FACTOR VEHICLE 2'].isin(unwanted_contributing_factors)) | (night_crash_data['CONTRIBUTING FACTOR VEHICLE 2'].isnull())) & ((night_crash_data['CONTRIBUTING FACTOR VEHICLE 3'].isin(unwanted_contributing_factors))  | (night_crash_data['CONTRIBUTING FACTOR VEHICLE 3'].isnull())) & ((night_crash_data['CONTRIBUTING FACTOR VEHICLE 4'].isin(unwanted_contributing_factors))  | (night_crash_data['CONTRIBUTING FACTOR VEHICLE 4'].isnull())) & ((night_crash_data['CONTRIBUTING FACTOR VEHICLE 5'].isin(unwanted_contributing_factors))  | (night_crash_data['CONTRIBUTING FACTOR VEHICLE 5'].isnull()))), True, False)

In [25]:
invalid_night_crash_data_metrics = night_crash_data['isUnspecified'].value_counts().to_frame()

In [26]:
percentage_invalid_collision_data = invalid_night_crash_data_metrics.iloc[1]*100/night_crash_data.shape[0]

In [27]:
percentage_invalid_collision_data

isUnspecified    34.79346
Name: True, dtype: float64

## Hypothesis:

#### Of all crashes, a majority number is caused by persons between the age of 16-25.

In [28]:
crashes_persons = pd.merge(crashes, persons, left_on='COLLISION_ID', right_on='COLLISION_ID', how='inner')
crashes_persons.shape

(4117932, 49)

In [29]:
crashes_persons.loc[:, 'CRASH_YEAR'] = crashes_persons['CRASH_DATE'].astype(np.str_).apply(lambda x: x.split('/')[-1])

In [30]:
del crashes_persons['CRASH_DATE']
del crashes_persons['CRASH_TIME']
del crashes_persons['UNIQUE_ID']

In [31]:
crashes_persons.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'PERSON_ID', 'PERSON_TYPE', 'PERSON_INJURY', 'VEHICLE_ID', 'PERSON_AGE',
       'EJECTION', 'EMOTIONAL_STATUS', 'BODILY_INJURY', 'POSITION_IN_VEHICLE',
       'SAFETY_EQUIPMENT', 'PED_LOCATION', 'PED_ACTION', 'COMPLAINT',
       'PED_ROLE', 'CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2',
       'PERSON_SEX', 'CRASH_YEAR'],
      dtype='object')

In [32]:
crashes_persons['PERSON_TYPE'].unique()

array(['Occupant', 'Pedestrian', 'Bicyclist'], dtype=object)

In [39]:
crashes_persons[(crashes_persons['VEHICLE_ID'].isna())][['COLLISION_ID', 'PERSON_TYPE', 'POSITION_IN_VEHICLE']]

         COLLISION_ID PERSON_TYPE POSITION_IN_VEHICLE
2             3916262  Pedestrian                 NaN
13            3929617  Pedestrian                 NaN
30            3920134    Occupant                 NaN
59            3926636    Occupant                 NaN
61            3916004  Pedestrian                 NaN
...               ...         ...                 ...
4117897         26084  Pedestrian                 NaN
4117898        187677  Pedestrian                 NaN
4117914        208724  Pedestrian                 NaN
4117920         32046  Pedestrian                 NaN
4117931         13866  Pedestrian                 NaN

[161166 rows x 3 columns]

In [40]:
crashes_persons[(crashes_persons['VEHICLE_ID'].isna()) & 
                (crashes_persons['PERSON_TYPE'] == 'Bicyclist')][['COLLISION_ID', 'PERSON_TYPE', 'POSITION_IN_VEHICLE']]

Empty DataFrame
Columns: [COLLISION_ID, PERSON_TYPE, POSITION_IN_VEHICLE]
Index: []

In [41]:
crashes_persons.drop(crashes_persons.loc[crashes_persons['VEHICLE_ID'].isna()].index, inplace=True)
crashes_persons.shape

(3956766, 47)

In [58]:
data_subset = crashes_persons[crashes_persons['POSITION_IN_VEHICLE'] == 'Driver'][['COLLISION_ID', 'VEHICLE_ID', 'PERSON_TYPE', 'POSITION_IN_VEHICLE', 'PERSON_AGE']]

In [59]:
data_subset

         COLLISION_ID  VEHICLE_ID PERSON_TYPE POSITION_IN_VEHICLE  PERSON_AGE
1             3916262  18655232.0    Occupant              Driver        57.0
5             3928600  18762804.0    Occupant              Driver        38.0
6             3928600  18762803.0    Occupant              Driver        39.0
8             3921967  18643741.0    Occupant              Driver        43.0
9             3921967  18643742.0    Occupant              Driver        83.0
...               ...         ...         ...                 ...         ...
4112338       4252952  19666652.0    Occupant              Driver        32.0
4112837       3497539  17299497.0    Occupant              Driver        19.0
4113965       3721654  17625363.0    Occupant              Driver        58.0
4115185       3943425  18606945.0    Occupant              Driver        39.0
4115186       3943425  18606944.0    Occupant              Driver        17.0

[1473544 rows x 5 columns]

In [60]:
data_subset.loc[:, 'age16-25'] = np.where((data_subset['PERSON_AGE'] > 15) & 
                                          (data_subset['PERSON_AGE'] < 26), True, False)

In [61]:
data_subset['age16-25'].value_counts()

False    1266515
True      207029
Name: age16-25, dtype: int64